@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);

	--container-3xs: 16rem;
	--container-2xs: 18rem;
	--container-xs: 20rem;
	--container-sm: 24rem;
	--container-md: 28rem;
	--container-lg: 32rem;
	--container-xl: 36rem;
	--container-2xl: 42rem;
	--container-3xl: 48rem;
	--container-4xl: 56rem;
	--container-5xl: 64rem;
	--container-6xl: 72rem;
	--container-7xl: 80rem;
	--container-8xl: 90rem; /* 1440px */
	--container-9xl: 100rem; /* 1600px */
	--container-10xl: 112.5rem; /* 1800px */
}

:root {
	--radius: 0.625rem;
	--background: oklch(1 0 0);
	--foreground: oklch(0.129 0.042 264.695);

	--card: oklch(1 0 0);
	--card-foreground: oklch(0.129 0.042 264.695);

	--primary: oklch(0.208 0.042 265.755);
	--primary-foreground: oklch(0.984 0.003 247.858);

	--secondary: oklch(0.968 0.007 247.896);
	--secondary-foreground: oklch(0.208 0.042 265.755);

	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.929 0.013 255.508);

	--muted: oklch(0.968 0.007 247.896);
	--muted-foreground: oklch(0.554 0.046 257.417);
	--accent: oklch(0.968 0.007 247.896);
	--accent-foreground: oklch(0.208 0.042 265.755);

	--input: oklch(0.929 0.013 255.508);
	--ring: oklch(0.704 0.04 256.788);
}

.dark {
	--background: #111111;
	--foreground: #ffffff;

	--card: #333333;
	--card-foreground: #ffffff;

	--primary: #4c51bf;
	--primary-foreground: #ffffff;

	--secondary: #3a3f9e;
	--secondary-foreground: #ffffff;

	--destructive: #ef4444;
	--border: #4c51bf;

	--muted: #ffffff05;
	--muted-foreground: #ffffff;
	--accent: #4c51be;
	--accent-foreground: #ffffff;

	--input: #252525;
	--ring: #4c51bf;
}

html {
	scroll-behavior: smooth;
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}

@layer components {
	.border-grey {
		@apply border-[0.5px] border-solid border-[#ffffff1a];
	}
	.card-gradient {
		position: relative;
		z-index: 0;
	}
	.card-gradient::before {
		content: '';
		position: absolute;
		inset: 0;
		border-radius: inherit;
		pointer-events: none;
		opacity: 0;
		transition: opacity 0.5s ease;
		background: linear-gradient(to bottom right, #ffffff26, #4c51bf33);
		z-index: -1;
	}

	.dark .card-gradient::before {
		background: linear-gradient(to bottom right, #0b0b0be6, #4c51bf4d);
	}

	.card-gradient:hover::before {
		opacity: 1;
	}
}

@layer utilities {
	.button-shadow {
		box-shadow: 0px 4px 14px 0px rgba(76, 81, 191, 0.65);
	}
}
